<div class="sidebar-overlay"></div>
<aside id="sidebar" class="sidebar sidebar-default sidebar-stacked open hidden-print" role="navigation">

    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-image: url(images/user-profile-bg2.jpg);">
          <!-- <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown" aria-expanded="false">
                <div class="sidebar-image">
                    <img src="images/user-account.png">                    
                </div>
                   <p>john.doe@gmail.com</p>
                    <b class="caret"></b>
          </a> -->

          <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown" aria-expanded="false">
                <div class="row" style='margin:0; margin-top:30px;'>
                      <div class="col-lg-12">
                          <div class="sidebar-image">
                              <span class="pull-left" style="margin-top: -16px;">
                                  <img src="images/user-account.png" style="width: 44px;height:44px;">
                              </span>
                              <div>
                                  <h4>Name</h4>
                                  <h6>Mail</h6>                                                
                              </div>
                          </div>
                    </div>
              </div>
               <b class="caret" style='margin-top:40px; '></b>
          </a>


    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu">
<!--                 <li>
                    <a href="myprofile.php" tabindex="-1">
                        My profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li> -->
                <li>
                    <a href="query/logout.php" tabindex="-1">
                        Sign out
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="calendar.php">
                <i class="sidebar-icon material-icons">event</i>
                Calendar
            </a>
        </li>

        <li class="divider"></li>
        <li>
            <a href="tutorial.php">
                Getting started           
            </a>
        </li>
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                Contents
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="http://www.narit.or.th/en/index.php/observing-facilities/call-for-observing-proposal#content5" target="_blank" tabindex="-1">
                        Instructions
                     
                    </a>
                </li>
                <li>
                    <a href="http://www.narit.or.th/en/index.php/observing-facilities/thai-national-observatory-tno/2-4-m-telescope/instrument" target="_blank" tabindex="-1">
                        The Instruments
           
                    </a>
                </li>
            </ul>
        </li>
<!--         <li>
            <a href="#">
                What's new ?
      
            </a>
        </li>
        <li>
            <a href="#">
                Weather
           
            </a>
        </li> -->
        <li>
            <a href="mailto:proposal@narit.or.th">
                Contacts
             
            </a>
        </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->
    
    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>